In [ ]:
!pip install -q git+https://github.com/tensorflow/docs
import matplotlib.pyplot as plt
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [3]:
# Import data
dataset = pd.read_csv('insurance.csv')
dataset.tail()

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [4]:
# Get categorical data mapping
sex_map = [(val, ind) for ind, val in enumerate(dataset['sex'].unique())]
smoker_map = [(val, ind) for ind, val in enumerate(dataset['smoker'].unique())]
region_map = [(val, ind) for ind, val in enumerate(dataset['region'].unique())]

In [5]:
# Convert categorical data to numeric
dataset['sex'] = dataset['sex'].apply(dict(sex_map).get)
dataset['smoker'] = dataset['smoker'].apply(dict(smoker_map).get)
dataset['region'] = dataset['region'].apply(dict(region_map).get)

In [6]:
# Split train and test dataset
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

# Create train and test labels
train_labels = train_dataset.pop('expenses')
test_labels = test_dataset.pop('expenses')
train_dataset.head()

      age  sex   bmi  children  smoker  region
578    52    1  30.2         1       1       0
610    47    0  29.4         1       1       1
569    48    1  40.6         2       0       2
1034   61    1  38.4         0       1       2
198    51    0  18.1         0       1       2